input {
    width: 30vw;
    height: 30px;
    color: dimgray;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
    text-align: center;
}

input:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem #360033;
}

@media only screen and (max-width: 768px) {
    input {
       width: 50vw;
    }
  }